/* ==========================================================================
   FONTS
   ========================================================================== */
/*** Co Text Corp ***/
@font-face {
    font-family: 'Co Text Corp';
    src: url('@{fonts}/cotextcorp-bold.eot');
    src: local('☺'), url('@{fonts}/cotextcorp-bold.woff') format('woff'), url('@{fonts}/cotextcorp-bold.ttf') format('truetype'), url('@{fonts}/cotextcorp-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*** Helvetica Neue Сondensed ***/
@font-face {
    font-family: 'Helvetica Neue Сondensed';
    src: url('@{fonts}/helveticaneue-bold-condensed-webfont.eot');
    src: local('☺'), url('@{fonts}/helveticaneue-bold-condensed-webfont.woff') format('woff'), url('@{fonts}/helveticaneue-bold-condensed-webfont.ttf') format('truetype'), url('@{fonts}/helveticaneue-bold-condensed-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
