/* ==========================================================================
   FORMS RESET
   ========================================================================== */
form, fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
}
/*** FIELDS ***/
[type='text'], [type='tel'], [type='email'], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font: 16px/normal @font-default;
    color: @color-black;
    background: @color-white;
    box-shadow: inset 3px 1px 2px 0 rgba(0, 0, 0, .54), 0 0 0 2px rgba(0,0,0,.34);
    border: none;
    transition: border-color @duration;
    appearance: none;

    &:focus {
    }

    .form-group & {
        width: 100%;
        max-width: 100%;
    }

    @media @tablet-sm {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 24px;
    }
}
textarea {
    max-width: 550px;
    height: 118px;
    resize: none;
    @media @tablet-sm {
        height: 180px;
    }
}
/* noinspection CssInvalidPseudoSelector */
::placeholder {
    color: @color-gray-light;
    opacity: 1;
}
/*** BUTTONS ***/
[type='submit'], [type='reset'], [type='button'], button, .button {
  width: 100%;
  max-width: 350px;
    padding: 13px 13px 11px;
    display: inline-block;
    font: bold 18px/normal @font-heading;
    color: @color-white;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    background: @color-orange url('@{images}/testimonials/pattern.jpg') 0 0 repeat;
    border: none;
    box-shadow: 0 4px 0 0 @color-brown;
    border-radius: 5px;
    text-shadow: 0 2px 0 @color-brown;
    transition: background-color @duration, color @duration;
    user-select: none;
    appearance: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    @media @tablet-sm {
      width: auto;
      max-width: none;
        padding: 20px 24px 16px;
        font-size: 29px;
    }
}
/*** Selectric ***/
.selectric {
    background: @color-white;
    border: none;

    .label {
        margin-left: 0;
        padding: 0 16px 0 36px;
        font-size: 16px;
        line-height: 40px;
        color: @color-gray-light;
        box-shadow: inset 3px 1px 2px 0 rgba(0, 0, 0, .54), 0 0 0 2px rgba(0,0,0,.34);
        @media @tablet-sm {
          height: 60px;
          font-size: 24px;
          line-height: 60px;
        }
    }

    .button {
        width: 40px;
        height: auto;
        border-radius: 0;
        background: @color-orange;
        box-shadow: inset 3px 1px 2px 0 rgba(0, 0, 0, .54), 0 0 0 2px rgba(0,0,0,.34);
        bottom: 0;
        &:after {
            top: 10px;
            border: 9px solid transparent;
            border-top-color: @color-black;
        }
        .selectric-hover & {
            color: @color-black;
            &:after {
              border-top-color: @color-black;
            }
        }
        @media @tablet-sm {
          width: 60px;
          height: 60px;
          &:after {
            top: 22px;
            border: 14px solid transparent;
            border-top-color: @color-black;
          }
        }
    }

}
.selectric-items {
  background: @color-white;
  border: none;
  ul {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.34);
  }
  li {
    font-size: 16px;
    color: @color-gray-light;
    &:hover {
      background: transparent;
      color: @color-orange;
    }
    &.selected {
      color: @color-white;
      background: @color-orange;
    }
  }
  @media @tablet-sm {
      li {
        font-size: 24px;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
  }
}
/* ==========================================================================
   DEFAULT FORM
   ========================================================================== */
.form {
    &-group {
        margin-bottom: 14px;
        &:after {
            .clearfix;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media @tablet-sm {
          margin-bottom: 20px;
        }
    }
}
