/* ==========================================================================
   COMPONENTS
   ========================================================================== */
.components {
    margin-top: 65px;
    margin-bottom: 35px;
    padding: 14px 0;
    position: relative;
    background: @color-blue-light;
    color: @color-white;

    .heading {
        max-width: 70%;
        margin: 0 auto 12px;
        font-size: 21px;
        line-height: 26px;
        text-transform: none;
        text-align: center;
        color: @color-white;
        @media @tablet-sm {
            max-width: 80%;
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 30px;
        }
    }

    .bg {
        overflow: hidden;
        background: @color-blue-light;
        background: linear-gradient(to bottom, rgba(88,200,213,1) 0%,rgba(54,156,179,1) 100%);
        position: absolute;
        left: 0;
        top: -7%;
        bottom: -7%;
        right: 0;
        z-index: 0;
        transform: skewY(-6.4deg);

        @media @tablet-sm {
            top: -16%;
            bottom: -10%;
            transform: skewY(-7.4deg);
        }
    }

    .wrapper {
        margin: -56px auto -44px;
        position: relative;
        z-index: 1;
        @media @tablet-sm {
            margin-top: -46px;
            margin-bottom: -16px;
        }
    }


    .list {
        height: 656px;
        margin: 0;
        position: relative;
        &:before {
            .pseudo;
            width: 560px;
            height: 560px;
            margin: 0 0 0 -300px;
            .color-white(.15);
            background: @color url('@{images}/components/bg.png') center 85px no-repeat;
            background-size: 64% auto;
            border-radius: 50%;
            border: 16px solid @color-blue;
            position: absolute;
            top: 0;
            left: 50%;
        }
        @media @tablet-sm {
            width: 620px;
            height: 620px;
            margin: 0 auto;
            font-size: 25px;
            line-height: 32px;
        }

        .image {
            width: 72px;
            height: auto;
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            &:before {
                .pseudo;
                .color-white(.74);
                box-shadow: 0 0 30px 10px @color;
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 5px;
                right: 5px;
                z-index: 0;
            }
            img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 1;
            }
            @media @tablet-sm {
                width: 100px;
                height: 210px;
                margin: auto auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font: bold 18px/22px @font-heading;
            text-align: center;
        }

        li {
            width: 124px;
            position: absolute;
            &:nth-child(1) {
                top: 296px;
                left: 10px;
            }
            &:nth-child(2) {
                top: 296px;
                right: 0;
            }
            &:nth-child(3) {
                top: 480px;
                left: 16px;
            }
            &:nth-child(4) {
                top: 480px;
                right: -6px;
            }
        }

        .pic {
            width: 126px;
            height: 126px;
            margin-bottom: -12px;
            display: inline-block;
            position: relative;
            background: url('@{images}/components/circle.png') 0 0 no-repeat;
            background-size: cover;

            img {
                width: 164px;
                height: 164px;
                margin: -82px 0 0 -82px;
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }
}
