/* ==========================================================================
   ORDER
   ========================================================================== */
.order {
    padding: 18px 0;
    background: url('@{images}/order/bg.jpg') center center no-repeat;
    background-size: cover;
    color: @color-white;

    .heading {
        margin: 0 0 14px;
        padding: 6px 10px;
        .color-black(.55);
        background: @color;
        color: @color-white;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(8, 53, 73, .39);
        font-size: 25px;
        line-height: 20px;

        .small {
            font-size: 16px;
        }
    }

    .counter {
        margin-bottom: 18px;
        cursor: default;
        user-select: none;

        .title {
            margin: 0 0 18px;
            font: bold 29px/33px @font-heading;
            text-shadow: 2px 2px 2px rgba(8, 53, 73, .39);
            text-transform: uppercase;
            text-align: center;
        }

        .line {
            margin: 0 -9px;
            padding: 0;
            list-style: none;
            text-align: center;
            font: bold 10px/10px @font-helv;
            text-transform: uppercase;
            &:after {
                .clearfix;
            }


            li {
                width: 25%;
                padding: 0 9px;
                float: left;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                &:after {
                    .clearfix;
                }
            }

            .number {
                margin: 4px 0 0 0;
                padding: 3px;
                display: block;
                flex-basis: 100%;
                flex-grow: 1;
                font-size: 47px;
                line-height: 47px;
                font-weight: bold;
                color: @color-white;
                background: @color-black;
                position: relative;
            }

            .text {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }

    .form-order {
        min-height: 400px;
        padding-top: 180px;
        position: relative;

        .image {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            img {
                width: 164px;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
                .color-orange(.74);
                box-shadow: 0 0 40px 10px @color;
            }
        }

        .area {
            position: relative;
            z-index: 2;
        }
    }
}
