/* ==========================================================================
   ORDER
   ========================================================================== */
.order {
    padding: 18px 0 24px;
    background: url('@{images}/order/bg.jpg') center center no-repeat;
    background-size: cover;
    color: @color-white;
    overflow: hidden;
    @media @tablet-sm {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    @media @desktop-sm {
        padding-top: 46px;
    }

    .heading {
        max-width: 450px;
        margin: 0 auto 14px;
        padding: 6px 10px;
        .color-black(.55);
        background: @color;
        color: @color-white;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(8, 53, 73, .39);
        font-size: 25px;
        line-height: 20px;

        .small {
            font-size: 16px;
            display: block;
        }

        @media @tablet-sm {
            max-width: 76%;
            margin: 0 auto 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 48px;
            line-height: 44px;
            .small {
                font-size: 31px;
            }
        }
        @media @desktop-sm {
            max-width: 80%;
            margin: 0 auto 32px;
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 65px;
            line-height: 60px;

            .small {
                font-size: 42px;
            }
        }
    }

    .form-order {
        max-width: 350px;
        min-height: 400px;
        margin: 0 auto;
        padding-top: 180px;
        position: relative;
        cursor: default;
        @media @tablet-sm {
            max-width: 800px;
            min-height: 428px;
            padding-top: 20px;
            padding-left: 270px;
            padding-right: 14px;
        }
        @media @desktop-sm {
            max-width: 1000px;
            min-height: 590px;
            padding-top: 26px;
            padding-left: 346px;
        }

        .image {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            &:before {
                .pseudo;
                width: 154px;
                margin: 0 auto;
                .color-orange(.74);
                box-shadow: 0 0 40px 10px @color;
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 0;
                right: 0;
                z-index: 0;
            }

            img {
                width: 164px;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
                position: relative;
                z-index: 1;
                user-select: none;
            }
            @media @tablet-sm {
                width: 250px;
                top: 10px;
                left: 10px;
                &:before {
                    width: 178px;
                }
                img {
                    width: 188px;
                }
            }
            @media @desktop-sm {
                width: 320px;
                top: 16px;
                left: 5px;
                &:before {
                    width: 250px;
                }
                img {
                    width: 260px;
                }
            }
        }

        .area {
            padding-bottom: 32px;
            position: relative;
            z-index: 2;
        }

        .form-group {
            @media @desktop-sm {
                margin-bottom: 26px;
            }
        }

        input {
            padding-left: 38px;
            &.tel {
                background: @color-white url('@{images}/order/icons/tel.png') 12px center no-repeat;
                background-size: 18px 18px;
            }
            &.name {
                background: @color-white url('@{images}/order/icons/user.png') 12px center no-repeat;
                background-size: 18px 18px;
            }
            @media @tablet-sm {
                padding-left: 60px;
                &.tel, &.name {
                    background-size: 30px 30px;
                    background-position: 20px center;
                }
            }
            @media @desktop-sm {
                padding-top: 24px;
                padding-left: 84px;
                padding-bottom: 23px;
                font-size: 32px;
                &.tel, &.name {
                    background-size: 40px 40px;
                    background-position: 30px center;
                }
            }
        }

        .selectric-country {
            .label {
                background: @color-white url('@{images}/order/icons/globe.png') 12px center no-repeat;
                background-size: 18px 18px;
            }
            @media @tablet-sm {
                .label {
                    padding-left: 60px;
                    background-size: 30px 30px;
                    background-position: 20px center;
                }
            }
            @media @desktop-sm {
                .label {
                    height: 84px;
                    padding-left: 84px;
                    font-size: 32px;
                    line-height: 84px;
                    background-size: 40px 40px;
                    background-position: 30px center;
                }
                .button {
                    width: 84px;
                    height: 84px;
                }
                .selectric-items {
                    li {
                        font-size: 32px;
                        line-height: 60px;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            position: relative;
            &:before {
                .pseudo;
                width: 80px;
                height: 80px;
                background: url('@{images}/order/arrow.png') 0 0 no-repeat;
                background-size: cover;
                position: absolute;
                bottom: -22px;
                left: -40px;
            }
            @media @tablet-sm {
                &:before {
                    width: 280px;
                    height: 280px;
                    bottom: -88px;
                    left: -200px;
                }
            }
            @media @desktop-sm {
                padding: 28px 24px 22px;
                font-size: 40px;
                &:before {
                    width: 366px;
                    height: 366px;
                    bottom: -120px;
                    left: -262px;
                }
            }
        }
    }

    .text {
        margin: 0;
        font: bold 16px/18px @font-heading;
        text-transform: uppercase;
        color: @color-orange;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        user-select: none;
        @media @tablet-sm {
            margin: -8px 0 16px 0;
            font-size: 25px;
            line-height: 30px;
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
        }
        @media @desktop-sm {
            margin: 0 0 25px 0;
            font-size: 35px;
            line-height: 36px;
        }
    }
}
