/* ==========================================================================
   REASONS
   ========================================================================== */
.reasons {
    padding: 106px 0 30px;
    background: @color-green url('@{images}/reasons/bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: @color-white;

    .wrapper {
        padding-left: 18px;
        padding-right: 18px;
    }

    .heading {
        max-width: 320px;
        margin: 0 auto 20px;
        color: @color-white;
        font-size: 14px;
        line-height: 17px;
        @media @tablet-sm {
            max-width: 530px;
            margin-bottom: 43px;
            font-size: 26px;
            line-height: 32px;
        }
    }

    .list {
        min-height: 350px;
        padding: 95px 0 0 0;
        background: url('@{images}/reasons/man.png') center 0 no-repeat;
        background-size: 290px auto;
        margin: 0;
        position: relative;
        list-style: none;
        color: @color-green-deep;
        font-size: 11px;
        line-height: 12px;
        @media @tablet-sm {
            min-height: 415px;
            padding: 25px 0 0 336px;
            background-size: 376px auto;
            background-position: 4px 0;
            font-size: 16px;
            line-height: 18px;
        }

        li {
            margin-bottom: 2px;
            margin-right: -20px;
            padding: 16px 30px 10px 46px;
            position: relative;
            &:before {
                .pseudo;
                width: 14px;
                height: 14px;
                background: @color-white;
                border-radius: 50%;
                position: absolute;
                left: 21px;
                top: 14px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(odd) {
                background: rgba(67, 191, 73, .47);
            }
            &:nth-child(even) {
                background: rgba(169, 247, 172, .47);
            }
            @media @tablet-sm {
                margin-bottom: 3px;
                padding: 21px 30px 14px 63px;
                &:nth-child(odd) {
                    background: rgba(169, 247, 172, .87);
                }
                &:before {
                    width: 18px;
                    height: 18px;
                    top: 18px;
                    left: 30px;
                }
            }
        }
    }

    .form-order {
        margin-top: 40px;
        @media @tablet-sm {
            margin-top: 34px;
            margin-bottom: -86px;
        }

        .title {
            margin-bottom: 28px;
            font: bold 18px/21px @font-heading;
            text-align: center;
            text-transform: uppercase;
            @media @tablet-sm {
                max-width: 360px;
                margin: 0 auto 20px;
                font-size: 21px;
                line-height: 24px;
            }
        }

        .form-group {
            margin-bottom: 8px;
            @media @tablet-sm {
                width: 360px;
                margin: 0 auto 16px;
                float: none;
            }
        }

        .form-submit {
            @media @tablet-sm {
                width: 100%;
                margin-top: 26px;
                .button {
                    width: 566px;
                    padding: 23px 22px 22px;
                    font-size: 36px;
                }
            }
        }

        .input-name, .input-phone {
            padding: 13px 10px 10px 47px;
            background-size: 30px auto;
            font-size: 19px;
        }
    }
}
