/* ==========================================================================
   STEPS
   ========================================================================== */
.steps {
    padding-top: 30px;
    padding-bottom: 18px;
    background: @color-violet url('@{images}/steps/bg.jpg') center center no-repeat;
    background-size: cover;
    color: @color-white;
    text-align: center;
    @media @tablet-sm {
        padding-top: 110px;
        padding-bottom: 38px;
    }
    @media @desktop-sm {
        padding-top: 144px;
        padding-bottom: 144px;
    }

    .heading {
        margin-top: 0;
        margin-bottom: 22px;
        text-align: center;
        color: @color-white;
        @media @tablet-sm {
            margin-bottom: 48px;
        }
        @media @desktop-sm {
            margin-bottom: 52px;
        }
    }

    .list {
          margin-bottom: 26px;
        padding: 0;
        list-style: none;
        font-size: 11px;
        line-height: 13px;
        text-align: left;

        li {
            min-height: 70px;
            margin-bottom: 11px;
            padding-top: 30px;
            padding-left: 122px;
            position: relative;
            &:before {
                .pseudo;
                display: inline;
                font-weight: bold;
                color: @color-yellow;
            }
            &:nth-child(1) {
                &:before {
                    content: '1.';
                }
            }
            &:nth-child(2) {
                &:before {
                    content: '2.';
                }
            }
            &:nth-child(3) {
                &:before {
                    content: '3.';
                }
            }
            &:nth-child(4) {
                &:before {
                    content: '4.';
                }
            }
            &:nth-child(5) {
                &:before {
                    content: '5.';
                }
            }
        }
        .icon {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 38px;
        }
    }

    .text {
      margin-bottom: 0;
      font: bold 22px/19px @font-heading;
      text-transform: uppercase;
      color: @color-yellow;
    }
}
